<h1><%= title %> Employee</h1>

<%= form_tag url, method: verb do %>
  <div>
    <%= label_tag  :first_name %>
    <%= text_field_tag  :first_name, @employee.first_name %>
  </div>
   <div>
    <%= label_tag  :last_name %>
    <%= text_field_tag  :last_name, @employee.last_name %>
  </div>
  <div>
    <%= label_tag  :email %>
    <%= text_field_tag  :email, @employee.email %>
  </div>
     <div>
    <%= label_tag  :birthday %>
    <%= text_field_tag  :birthday, @employee.birthday %>
  </div>
<%= submit_tag "#{title} Employee" %>
<%end%>