<h1>Employee Info</h1>

<h1><%= @employee.full_name%></h1>
<p>Email: <%= @employee.email %></p>
<p>Birthday: <%= @employee.friendly_birthday%></p>


<%= link_to "Edit", "/employees/#{@employee.id}/edit" %>
<%= link_to "Delete", "/employees/#{@employee.id}", method: :delete %>